.sidebar-opener {
    cursor: pointer;
}

.sidebar-slider {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10140;
    background-color: white;
    transform: translateX(100%);
    transition: ease-in-out 300ms transform;
    width: 28vw;
}

.sidebar-slider.sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-in-out 600ms transform;
}

.sidebar-close {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    cursor: pointer;
    padding: 16px;
}

.sidebar-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 16px;
    padding: 16px;
    height: 100%;
}

.sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}