<nav class="navbar-user bg-white d-flex p-4 justify-content-between">
<div class="d-flex align-self-center">
    <div class="d-flex flex-column">
        <h4 class="mb-0 text-uppercase f-roboto" style="font-weight: 700;">{{title}}</h4>
        <div class="text-muted sub-title">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item text-muted sub-title" *ngFor="let item of breadcrumb; let i = index"><a href="#" class="text-reset">{{item.description}}</a></li>

              </ol>
            </div>
    </div>
</div>
    <div class="d-flex align-self-center">
        <div class="me-3 align-self-center">
            <button type="button" class="btn btn-link position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                  </svg>
                <span class="position-absolute mt-3 translate-middle badge rounded-pill bg-danger">
                  7
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>
        </div>
        <div class="me-3 align-self-center">
            <button type="button" class="btn btn-outline-primary btn-sm rounded-pill fw-bold pt-1 pb-1">VIACREDI</button>
        </div>
        <div class="flex-shrink-0 dropdown align-self-center" dropdown>
            <a href (click)="false" id="basic-link" aria-controls="basic-link-dropdown" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" dropdownToggle>
              <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="photo-user rounded-circle">
            </a>
            <ul id="basic-link-dropdown" role="menu" *dropdownMenu class="dropdown-menu dropdown-menu-right text-small shadow"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Configurações</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Perfil</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Sair</a></li>
        </ul>
          </div>
    </div>
</nav>