<div class="row">
  <div class="col-sm-6">
    <h4 class="fw-normal mb-0">Informe o CPF do futuro cooperado (a)</h4>
    <p class="sub-title-label text-muted">Se necessário, você podera duplicar uma conta existente ou pausar e retomar este cadastro futuramente. Digite apenas os números (sem pontos ou traços).</p>
  </div>
</div>
<form [formGroup]="form" (submit)="submit()">
  <div class="row">
    <div class="col-2">
      <input type="text" class="form-control form-control-sm" [mask]="maskUtil.cpf" [ngClass]="{'is-invalid': form.get('cpf')?.touched && form.controls.cpf.errors}" formControlName="cpf" placeholder="Informe o CPF">
      <div *ngIf="form.get('cpf')?.touched && form.controls.cpf.errors"  class="invalid-feedback">
        CPF inválido
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary btn-sm mb-3" [disabled]="!form.valid">Consultar por CPF</button>
    </div>
  </div>
</form>
<div class="d-flex justify-content-center" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="row" *ngIf="accounts.length > 0 && !loading">
  <div class="col-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title mb-0 card-title-x fw-bold">Situação cadastral do CPF</h5>
        <small class="text-muted ">{{user?.situation}}</small>
        <div class="d-flex align-items-center mb-2">
          <div class="flex-shrink-0">
            <i class="bi bi-person-fill icon-card text-muted"></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <small class="text-muted">Nome</small>
            <p class="mb-1">{{user?.name}}</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <i class="bi bi-check-circle icon-card text-success"></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <small class="text-muted">Situação do CPF</small>
            <p class="mb-1">{{user?.situation_cpf}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3" *ngFor="let account of accounts; let i = index">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title mb-0 card-title-x fw-bold">{{account.title}}</h5>
        <small class="text-muted ">{{account.cooperative}}</small>
        <div class="d-flex align-items-center mb-2">
          <div class="flex-shrink-0">
            <i class="bi bi-credit-card icon-card text-muted"></i>
          </div>
          <div class="flex-grow-1 ms-3">
            <small class="text-muted">Número da conta</small>
            <p class="mb-1">{{account.account_number}}</p>
          </div>
        </div>
        <div class="d-flex align-items-end">
          <button type="button" class="btn btn-link">Duplicar conta</button>
        </div>
      </div>
    </div>
  </div>
</div>
